      p {
          color: blue;
      }

      #list {
          color: red;
      }

      .list-odd {
          color: brown;
      }

      h1,
      h2 {
          color: green;
      }

      button:hover {
          background-color: blue;
      }